<section class="hero is-light is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          About
        </h1>
      </div>
    </div>
  </section>

<div class="container">
    <div class="card">
        <div class="card-content">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/128x128.png" >
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Harriet Chamberlain-Webber</strong>
                            <br>
                            Harriet Chamberlain-Webber was born in 1999 in Suffolk, England. With an interest in drawing and painting manifesting from an early age, she went on to study Art and Design at GCSE and BTEC Diploma level in high school and college.<br>
                            <br>Currently, she is studying Fine Art in Cardiff Metropolitan University in her third and final year of the course.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<%= javascript_include_tag 'about' %>
