

<div class="container">
    <div class="card">
        <div class="card-content">
            <h1 class="title is-4">About</h1>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child notification is-primary">
                                <p class="title">Example</p>
                                <p class="subtitle">Example text</p>
                            </article>
                            <article class="title is-child notification is-warning">
                                <p class="title">Another example</p>
                                <p class="subtitle">Example text</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-info">
                                <p class="title">Example</p>
                                <p class="subtitle">Example text</p>
                            </article>
                        </div>
                        
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger">
                            <p class="title">Wide boi</p>
                            <p class="subtitle">Yeah, it's fat</p>
                            <div class="content">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptates nisi quibusdam totam facere sapiente.
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>