<section class="hero is-light is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Contact
        </h1>
      </div>
    </div>
  </section>
<div class="container">
    <div class="columns">
        <div class="column is-three-fifths">
            <div class="card">
                <div class="card-content">
                    <h1 class="title is-5">Socials</h1>
                    
                    <article class="media">
                        <figure class="media-left">
                        <span>
                            <i class="fa fa-instagram" aria-hidden="true" style="font-size: 48px;"></i>
                        </span>  
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>@ari_cw_art</strong><br>
                                    <%= link_to "Follow me on Instagram", "https://www.instagram.com/ari_cw_art/", target:"_blank", class:"subtitle is-6"%> <i class="fa fa-arrow-right"></i>
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="media">
                        <figure class="media-left">
                        <span>
                            <i class="fa fa-etsy" aria-hidden="true" style="font-size: 36px;"></i>
                        </span>  
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>@etsy_username</strong><br>
                                    <%= link_to "Follow me on Etsy", "https://www.instagram.com/ari_cw_art/", target:"_blank", class:"subtitle is-6"%> <i class="fa fa-arrow-right"></i>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-content">
                    <h1 class="title is-5">Shop</h1>
                    
                    <article class="media">
                        <figure class="media-left">
                        <span>
                            <i class="fa fa-redbubble" aria-hidden="true" style="font-size: 48px;"></i>
                        </span>  
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Redbubble</strong><br>
                                    <%= link_to "Visit my Redbubble", "https://www.instagram.com/ari_cw_art/", target:"_blank", class:"subtitle is-6"%> <i class="fa fa-arrow-right"></i>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-content">
                    <h1 class="title is-5">Business Enquiries</h1>
                    <%= render 'emails/form', email:@email %>
                </div>
            </div>
        </div>
    </div>
</div>

